@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20px;
  height: 100vh;
  font-family: "Karla", sans-serif;
  color: hsl(187, 24%, 22%);
  font-weight: 500;
  background: hsl(148, 38%, 91%);
  position: relative;
}
.show {
  display: block !important;
}
label {
  font-size: 14px;
  margin-bottom: 7px;
}
p {
  margin: 0 0 15px;
  font-size: 14px;
}
.error-message,
.empty-field {
  font-size: 14px;
  color: hsl(0, 66%, 54%);
  margin-top: 7px;
  display: none;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 2px solid hsl(186, 15%, 59%);
  font-size: 15px;
  padding: 10px 20px;
  font-family: "Karla", sans-serif;
  color: hsl(187, 24%, 22%);
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid hsl(169, 82%, 27%);
}
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border: 2px solid hsl(169, 82%, 27%);
}
.required {
  color: hsl(169, 82%, 27%);
  font-size: 14px;
  margin-left: 4px;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.inner-wrapper {
  max-width: 700px;
  width: 100%;
  background: white;
  padding: 30px;
  border-radius: 15px;
}
h1 {
  font-size: 30px;
  margin: 0 0 10px;
}
.name {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.fname,
.lname {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.email {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.query {
  margin-top: 20px;
}
.types {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.radio {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10px;
  padding: 10px 20px;
  border: 2px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.radio input[type="radio"] {
  width: 18px;
  height: 18px;
}
.radio span {
  font-size: 14px;
  color: hsl(187, 24%, 22%);
}
.radio:hover {
  border-color: hsl(169, 82%, 27%);
}
.radio input[type="radio"]:checked + span {
  color: #2e6f63;
}
.message {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.message textarea {
  overflow: hidden;
  height: 80px;
  resize: none;
}
.concent {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.check {
  display: flex;
  align-items: center;
}
.check label {
  margin: 0 0 0 10px;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
.submit-btn {
  width: 100%;
  padding: 15px 20px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  font-family: "Karla", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background: hsl(169, 82%, 27%);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.submit-btn:hover {
  background: hsl(187, 24%, 22%);
}
.modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}
.showModal {
  display: flex;
}
.sent {
  max-width: 450px;
  height: max-content;
  margin: 0 auto;
  background: hsl(187, 24%, 22%);
  color: white;
  border-radius: 10px;
  padding: 20px;
}
.sent div {
  display: flex;
  margin-bottom: 10px;
}
.sent div h2 {
  margin: 0 0 0 10px;
  font-size: 15px;
}
.sent p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: hsl(186, 15%, 59%);
}
@media screen and (max-width: 767px) {
  body {
    height: 100vh;
  }
  .inner-wrapper {
    max-width: 350px;
    padding: 25px 20px;
  }
  h1 {
    margin: 0 0 30px;
  }
  .name {
    flex-direction: column;
    gap: 30px;
  }
  .fname,
  .lname {
    width: 100%;
  }
  .email {
    margin-top: 30px;
  }
  .query {
    margin-top: 30px;
  }
  .types {
    gap: 10px;
    flex-direction: column;
  }
  .radio {
    width: 100%;
    gap: 10px;
  }
  .message {
    margin-top: 30px;
  }
  .message textarea {
    height: 230px;
  }
  .concent {
    margin-top: 35px;
  }
  .submit-btn {
    margin-top: 35px;
  }
}
